attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
colorlog==4.2.1
decorator==4.4.2
idna==2.10
inflection==0.3.1
isodate==0.6.0
jsonschema==3.2.0
nest-asyncio==1.4.1
networkx==2.5
opil @ git+https://github.com/SD2E/opil.git@e33ce6c2cb333d590cea4a728feb80505df6c77e
owlrl==5.2.1
py==1.9.0
pydent==1.0.3
pyparsing==2.4.7
pyrsistent==0.17.3
pyshacl==0.13.3
python-dateutil==2.8.1
rdflib==5.0.0
rdflib-jsonld==0.5.0
requests==2.24.0
retry==0.9.2
sbol3 @ git+https://github.com/SynBioDex/pySBOL3@6c92e33cf4721df639fe7c41ad098cc54ae6d138
six==1.15.0
SPARQLWrapper==1.8.5
tqdm==4.50.1
urllib3==1.25.10
