attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
colorlog==4.4.0
decorator==4.4.2
idna==2.10
inflection==0.3.1
isodate==0.6.0
jsonschema==3.2.0
nest-asyncio==1.4.1
networkx==2.5
opil==1.0a1.post1
owlet @ git+https://github.com/SynBioDex/Owlet.git@0e4fd815f161b28f20936ca42c32f9613f00cc45
owlrl==5.2.1
py==1.10.0
pydent==1.0.3
pyparsing==2.4.7
pyrsistent==0.17.3
pyshacl==0.14.0
python-dateutil==2.8.1
rdflib==5.0.0
rdflib-jsonld==0.5.0
requests==2.24.0
retry==0.9.2
sbol3==1.0a2
six==1.15.0
SPARQLWrapper==1.8.5
tqdm==4.50.2
urllib3==1.25.11
