attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
colorlog==4.7.2
decorator==4.4.2
graphviz==0.16
idna==2.10
inflection==0.3.1
isodate==0.6.0
jsonschema==3.2.0
nest-asyncio==1.5.1
networkx==2.5
opil==1.0b3
owlrl==5.2.1
py==1.10.0
pydent==1.0.7
pyparsing==2.4.7
pyrsistent==0.17.3
pyshacl==0.14.3
python-dateutil==2.8.1
rdflib==5.0.0
rdflib-jsonld==0.5.0
requests==2.25.1
retry==0.9.2
rope==0.18.0
sbol3==1.0a6
six==1.15.0
SPARQLWrapper==1.8.5
tqdm==4.58.0
tyto==1.0a4
urllib3==1.26.5
